/build/
/Debug/
/Release/
*.user
*.launch
*.log
*.swp
*.swo
*.bak
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.list
*.pyc
*.DS_Store
*.cproject
*.project
/.settings/
EWARM/

.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/*.log
.env


*.mxproject
/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/compile_commands.json